<div class="login-container mt-5">
    <div>
      <h2 class="text-center heading" > 
        <img src="/assets/img/logo.png"/>
      </h2>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" style="width:25%" novalidate class="d-flex-center">
      <div class="example-container">
        <h4 class="text-center sub-heading">Admin Login</h4>
        <hr>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="!loginForm.get('email')?.errors?.required && (loginForm.get('email')?.errors?.pattern)">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched) && loginForm.get('email')?.errors?.required">
              Email is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="mt-top-2">
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <div class="password-input">
              <input matInput [type]="changeType ? 'password' : 'text'" placeholder="Password" formControlName="password">
              <span class="eyeicon" (click)="viewpass()"><i [ngClass]="visible ? 'fa fa-solid fa-eye' : 'fa fa-solid fa-eye-slash'" class="fa fa-solid fa-eye"></i></span>
            </div>
            <mat-error *ngIf="!loginForm.get('password')?.errors?.required">
              Password length must be greater than or equal to 8 and password must contain one or more uppercase, lowercase, numeric, and special characters
            </mat-error>
            <mat-error *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched) && loginForm.get('password')?.errors?.required">
              Password is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="mt-top text-center">
          <button [disabled]="!loginForm.valid" mat-raised-button color="primary" class="sign-in" mat-button>Sign In</button>
        </div>
      </div>
    </form>
  </div>