<div mat-dialog-title>Add Company</div>
<form [formGroup]="CompanyForm" (ngSubmit)="onFormSubmit()">
  <div class="content">
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Company Name</mat-label>
            <input matInput type="text" placeholder="Ex. Google" formControlName="name">
            <mat-error
              *ngIf="CompanyForm.get('name')?.touched && CompanyForm.get('name')?.errors?.['required']"
              >Company Name is a required*</mat-error
            >
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Rank</mat-label>
            <input matInput placeholder="Ex. 1" type="number" formControlName="rank">
            <mat-error
              *ngIf="CompanyForm.get('rank')?.touched && CompanyForm.get('rank')?.errors?.['required']"
              >Rank is a required*</mat-error
            >
          </mat-form-field>
          <!-- <mat-form-field appearance="outline"> -->
            <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
            <input hidden  accept="image/*" (change)="onFileSelected()" #fileInput type="file" id="file">
            <mat-error
              *ngIf="isFileNotSelected"
              >Image is a required</mat-error
            >
            <mat-error
              *ngIf="!isFileValid"
              >Please Upload Image</mat-error
            >
            <div>{{ selectedFileName }}</div>

          <!-- </mat-form-field> -->
          <div class="card image mt-3" *ngIf="selectedCompanyImage">
            <img
              [src]="selectedCompanyImage"
              alt=""
            />
          </div>
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button color="primary" [disabled]="CompanyForm.invalid || !isFileValid" type="submit">{{data.type == 'add'?'Save':'Update'}}</button>
    </div>
  </div>
</form>
