.example-spacer {
    flex: 1 1 auto;
  }
  
  table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
//   td, th {
//     width: 10%;
//   }

  th {
    font-weight: bold!important;
    text-align: center;
    font-size: 14px;
    background-color: #3f51b5;
    color: white;
  }

  td{
    // text-align: center;
   font-size: 14px;
   font-weight: 500;

  }
  
  .mat-form-field {
    width: 40%;
    margin-left: auto;
  }
 
  .modal_close{
    background-color: #3f51b5 !important;
  }
